<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>WebDataRocks Example</title>
<link rel="stylesheet" href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" />
</head>
<body>
    <nav class="navbar navbar-light" style="background-color:#FF0033;">
        <a href="{% url 'index' %}" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Home</a>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.googlecharts.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<h1>WebDataRocks Integration with Django</h1>
<table><tr><td style="width: 750px;"><div id="wdr-component"></div></td>
    <td><div id="googlechart-container" style="width:400px;height:450px;"></div></td></tr></table>
    

<script>
var pivot = new WebDataRocks({
    container: "#wdr-component",
    toolbar: true,
    report: {
        dataSource: {
            data: getData()
        },
        formats: [{
            maxDecimalPlaces: 2
        }],
        "slice": {
        "rows": [
            {
                "uniqueName": "Period"
            }
        ],
        "columns": [
            {
                "uniqueName": "Customer Country",
                "filter": {
                    "type": "top",
                    "quantity": 2,
                    "measure": "Incremental Sales"
                },
                "sort": "unsorted"
            },
            {
                "uniqueName": "Measures"
            }
        ],
        "measures": [
            {
                "uniqueName": "Incremental Sales",
                "aggregation": "sum"
            }
        ],
        "sorting": {
            "row": {
                "type": "desc",
                "tuple": [],
                "measure": "Incremental Sales"
            },
            "column": {
                "type": "desc",
                "tuple": [
                    "Customer Country.Canada"
                ],
                "measure": "Incremental Sales"
            }
        },
        "drills": {
            "rows": [
                {
                    "tuple": [
                        "Period.Quarter.2017/Quarter 3"
                    ]
                },
                {
                    "tuple": [
                        "Period.Quarter.2018/Quarter 3"
                    ]
                },
                {
                    "tuple": [
                        "Period.2017"
                    ]
                },
                {
                    "tuple": [
                        "Period.2018"
                    ]
                }
            ]
        }
    }
    },
    reportcomplete: function() {
        pivot.off("reportcomplete");
        pivotTableReportComplete = true;
        createGoogleChart();
    }
});

var pivotTableReportComplete = false;
var googleChartsLoaded = false;

google.charts.load('current', {
    'packages': ['corechart']
});
google.charts.setOnLoadCallback(onGoogleChartsLoaded);

function onGoogleChartsLoaded() {
    googleChartsLoaded = true;
    if (pivotTableReportComplete) {
        createGoogleChart();
    }
}

function createGoogleChart() {
    if (googleChartsLoaded) {
        pivot.googlecharts.getData({
                type: "column"
            },
            drawChart,
            drawChart
        );
    }
}

function drawChart(_data) {
    var data = google.visualization.arrayToDataTable(_data.data);

    var options = {
        title: "Sum of incremental sales over years",
        legend: {
            position: 'top'
        },
        is3D: true,
        colors: ['#66ccff', '#e0440e']
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('googlechart-container'));
    chart.draw(data, options);
}


function getData() {
    return [{
            "Stock_Name": {
                "type": "string"
            },
            "avg_compound": {
                "type": "number"
            }
        }
    ]
}
</script>
</body>
</html>
